body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;    
}


 .logo h1{
     text-align: center;
 }

 .logo ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px) contrast(.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
 
  
 }

 

 .logo a{
    float: right;  
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
 }

 .logo a:hover{
    background-color: #192f37;
 }

 .activemenu {
    background-color: #3bd80d;
    color: black;  }

   .logo li a:hover:not(.active) {
      background-color: #3bd80d;
    }   